<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-header">
    <!--<strong>タイトル:</strong>-->
    <%= @article.title %>
  </div>

  <div class="card-body">
  <!--<strong>内容:</strong>-->
    <%= @article.content %>
  </div>
</div>

<!--<%= link_to 'Edit', edit_article_path(@article) %> |-->
<!--<%= link_to 'Back', articles_path %>-->
<%= link_to '編集', edit_article_path(@article), class: "btn btn-warning" %> |
<%= link_to '一覧', articles_path, class: "btn-secondary" %>
